/* reset */
*, *::before, *::after {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 15px;
	box-sizing: border-box;
	margin: 1px;
	padding: 0;
}
/* header */
h1 {
	cursor: pointer;
}

header {
	background-color: white;
	position: fixed;
	width: 100%;
	border: 1px solid;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section, aside {
	margin-top: 40px;
}

.login_wrap {
	display: flex;
	align-items: center;
}

/* my_page */
main {
	border: 1px solid;
	display: flex;
	justify-content: center;
}

aside {
	font-weight: bold;
	border-right: 1px solid #464646;
	flex-basis: 25%;
}

#aside-main {
background-color: white;	
border-bottom: 1px solid #464646;
padding: 20px;
border-radius: 0;
font-size: 18px;
}

aside>div {
	background-color: rgb(246, 246, 246);
	margin: 5px 0px 0px 0px;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
}

section {
	flex-basis: 75%;
	border: 1px 1px 0px 0px solid #464646;
	padding: 10px;
}

.list {
	margin:10px;
}

#h3 {
    padding: 10px;
    display: inline-flex; 
    cursor: pointer; 
    font-weight: bold;
    font-size:30px;
 }
 
li {
	display:flex;
	justify-content: space-between;
	align-items: baseline;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin:5px;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
}


li > span > button {
	padding: 3px 10px 3px 10px;
	cursor: pointer;
	margin: 5px;
	background-color: #464646;
	color:#fff;
}

/* board */
.board, .post {
	padding: 10px;
}

.filter_order_wrap {
	display: flex;
	justify-content: space-between;
}

tr, th, td {
	border: 1px solid;
	text-align: center;
}

