/* reset */
*, *::before, *::after {
	font-family: inherit;
	font-size: 15px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* my_page_Detail */


#h3h3 {
    padding: 10px;
    display: inline-flex;  
    font-weight: bold;
    font-size:30px;
    margin-bottom: 0px;
    border-bottom: none;
 }

.table_style1 {
	border-radius: 30px;
	width: 90%;
	padding: 20px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
}
.table_style2 {
	width: 90%;
	padding: 20px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #000;
}

.th_style {
	background-color: #EAEAEA;
	margin: 10px;
	padding: 10px;
	font-size: 15px;
}

.th_style2 {
	background-color: #464646;
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	color: #fff;
}

.th_style1 {
	width : 80%; 
	font-size: 15px;
	text-align:right;
}
.td_style {
	margin: 10px;
	padding: 10px;

}
.td_style1 {
	text-align: center;
}

.td_style2 {
	margin: 10px;
	padding: 10px;
	text-align: right;
}


tr, th, td {
	border: none;
	text-align: center;
}

th {
	font-weight: bold;
}



h3{
	color: red;
	padding-right: 35px;
	text-align: right;

}

#h5{
	text-align: center;
}

