/* my_page_Detail */

.table_style {
	margin: 10px;
	padding: 10px;
	border: 3px double #000;
	text-align: center;
}

.th_style {
	margin: 10px;
	padding: 10px;
	border: 3px double #000

}
.td_style {
	margin: 10px;
	padding: 10px;
	border: 3px double #000
}