@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.send-container {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    margin: auto;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.1);
}

/* 라벨 스타일 */
.send-container label {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

/* 입력 필드 스타일 */
.send-container input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 11px;
    font-size: 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.send-container button[type="submit"] {
    background-color: #3f4144;
    color: rgb(205, 205, 205);
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

/* 에러 메시지 스타일 */
#error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
}

.send-container p, .send-container label {
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}

.send-container input[type="text"], .send-container button[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.send-container button[type="submit"]:hover {
    background-color: #929599;
}
.send-container p {
    color: #454343;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}
.send-container div {
    cursor: pointer;
    color: #575859;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: underline;
}

.send-container div:hover {
    color: #bdc0c4;
}
.login-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 64);
    color: white;
    cursor: pointer;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 64);
    color: white;
    cursor: pointer;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: rgb(128, 128, 128);
}