<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ais.sajangnimniceshot.mappers.KDBMapper">
	<select id="authenticateMember" resultType="boolean">
        SELECT 
            COUNT(*) 
        FROM 
            MEMBERS
        WHERE
            MEM_NICKNAME = #{memNickname}
    </select>
	<select id="getMemberInfo" resultType="MemberBean">
        SELECT
            MEM_NICKNAME AS MEMNICKNAME
        FROM
            MEMBERS
        WHERE
            MEM_NICKNAME = #{memNickname}
    </select>

	<select id="getRsvList" resultType="ReservationBean">
       SELECT
          RSV_CODE AS RSVCODE,
          TO_CHAR(RSV_DATE, 'YYYY-MM-DD') AS RSVDATE,
          RSV_TIME AS RSVTIME,
          RSV_MEMNICKNAME AS MEMNICKNAME
      FROM
          RSVDS 
      JOIN
          MEMBERS
      ON
          RSV_MEMNICKNAME = MEM_NICKNAME
      WHERE
          RSV_MEMNICKNAME = #{memNickname}
    </select>

	<delete id="deleteReservation">
    DELETE FROM
       RSVDS
    WHERE
       RSV_MEMNICKNAME = #{memNickname}
    AND
       RSV_CODE = #{rsvCode}
    </delete>

	<resultMap id="ReservationBean" type="reservationBean">
		<id property="rsvCode" column="rsv_Code" />
		<result property="rsvMemNickname" column="rsv_MemNickname" />
		<result property="rsvDate" column="RSVDATE" />
		<result property="rsvTime" column="rsv_Time" />
		<result property="rsvCount" column="rsv_Count" />
		<result property="rsvHole" column="rsv_Hole" />
		<result property="rsvCaddy" column="rsv_Caddy" />
		<result property="rsvClothes" column="rsv_Clothes" />
		<result property="rsvShoes" column="rsv_Shoes" />
		<result property="rsvStatus" column="rsv_Status" />
		<result property="rsvPrice" column="rsv_Price" />
		<!-- <association property="pricesBean" resultMap="pricesBeanMap"/>-->
		<collection property="pricesBean" resultMap="pricesBeanMap"></collection>
	</resultMap>
	<resultMap id="pricesBeanMap" type="PRICESBEAN">
		<id property="priCode" column="pri_Code" />
		<result property="priOption1" column="priOption1" />
		<result property="priOption2" column="priOption2" />
		<result property="priOption3" column="priOption3" />
		<result property="priOption4" column="priOption4" />
		<result property="priPrice" column="pri_Price" />
	</resultMap>

	<select id="getReservationDetail" resultMap="ReservationBean"> 
      select
         RSV_CODE,
         RSV_MEMNICKNAME,
         TO_CHAR(RSV_DATE, 'YYYY-MM-DD') AS RSVDATE,
         RSV_TIME,
         RSV_COUNT,
         RSV_HOLE,
         RSV_CADDY,
         RSV_CLOTHES,
         RSV_SHOES,
         RSV_STATUS,
         RSV_PRICE,
         pri1.PRI_OPTION AS priOption1,
         pri2.PRI_OPTION AS priOption2,
         pri3.PRI_OPTION AS priOption3,
         pri4.PRI_OPTION AS priOption4
      FROM 
         RSVDS
        JOIN
            PRICES pri1 ON RSV_HOLE = pri1.pri_code
        JOIN
            PRICES pri2 ON RSV_CADDY = pri2.pri_code
        JOIN    
            PRICES pri3 ON RSV_CLOTHES = pri3.pri_code
        JOIN    
            PRICES pri4 ON RSV_SHOES = pri4.pri_code
      WHERE 
         RSV_CODE = #{rsvCode}
   </select>

	<select id="checkMemNickname" resultType="boolean">
    SELECT
        COUNT(*)
    FROM
        MEMBERS
    WHERE
        MEM_NICKNAME = #{memNickname}
    </select>

	<insert id="insertReservedTransfer">
    INSERT INTO RSVDS (RSV_CODE, RSV_MEMNICKNAME, RSV_TIME, RSV_DATE, RSV_COUNT, RSV_HOLE, RSV_CADDY, RSV_CLOTHES, RSV_SHOES, RSV_STATUS, RSV_PRICE)
    VALUES (RSV_CODE.NEXTVAL ,#{memNickname}, #{rsvTime}, #{rsvDate}, #{rsvCount}, #{rsvHole}, #{rsvCaddy}, #{rsvClothes}, #{rsvShoes}, 'T', #{rsvPrice})
    </insert>

	<update id="updateReservedTransfer">
    UPDATE RSVDS SET RSV_MEMNICKNAME = #{memNickname} WHERE RSV_CODE = #{rsvCode}
    </update>

	<select id="checkDate" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			TIMESLOTS
		WHERE
			TI_DATE = #{tiDate}
		AND
			TI_TIME = #{tiTime}
	</select>

	<insert id="insertDateAndTime">
	 INSERT INTO RSVDS (RSV_CODE, RSV_MEMNICKNAME, RSV_TIME, RSV_DATE, RSV_COUNT, RSV_HOLE, RSV_CADDY, RSV_CLOTHES, RSV_SHOES, RSV_STATUS, RSV_PRICE)
    VALUES (RSV_CODE.NEXTVAL ,#{memNickname}, #{rsvTime}, #{rsvDate}, '0', '1', '3', '5', '7', 'F', '0')
	</insert>

	<select id="getRsvCode" resultType="String">
	SELECT
		RSV_CODE.CURRVAL
	FROM
		DUAL
	</select>


	<insert id="insertReservation">
    INSERT INTO RSVDS (RSV_CODE, RSV_MEMNICKNAME, RSV_TIME, RSV_DATE, RSV_COUNT, RSV_HOLE, RSV_CADDY, RSV_CLOTHES, RSV_SHOES, RSV_STATUS, RSV_PRICE)
    VALUES (RSV_CODE.NEXTVAL ,#{memNickname}, #{rsvTime}, #{rsvDate}, #{rsvCount}, #{rsvHole}, #{rsvCaddy}, #{rsvClothes}, #{rsvShoes},'F','0')
    </insert>

</mapper>