<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ais.sajangnimniceshot.mappers.SHSMapper">
	<resultMap id="ReservationBean" type="reservationBean">
      <id property="rsvCode" column="rsv_Code"/>
      <result property="rsvMemNickname" column="rsv_MemNickname"/>
      <result property="rsvDate" column="RSVDATE"/>
      <result property="rsvTime" column="rsv_Time"/>
      <result property="rsvCount" column="rsv_Count"/>
      <result property="rsvHole" column="rsv_Hole"/>
      <result property="rsvCaddy" column="rsv_Caddy"/>
      <result property="rsvClothes" column="rsv_Clothes"/>
      <result property="rsvShoes" column="rsv_Shoes"/>
      <result property="rsvStatus" column="rsv_Status"/>
      <result property="rsvPrice" column="rsv_Price"/>
      <!-- <association property="pricesBean" resultMap="pricesBeanMap"/>-->
      <collection property="pricesBean" resultMap="pricesBeanMap">
         
      </collection>
   </resultMap>
   <resultMap id="pricesBeanMap" type="PRICESBEAN">
      <id property="priCode" column="pri_Code"/>
      <result property="priOption1" column="priOption1"/>
      <result property="priPrice1" column="priPrice1"/>
      <result property="priOption2" column="priOption2"/>
      <result property="priPrice2" column="priPrice2"/>
      <result property="priOption3" column="priOption3"/>
      <result property="priPrice3" column="priPrice3"/>
      <result property="priOption4" column="priOption4"/>
      <result property="priPrice4" column="priPrice4"/>
   </resultMap>
   
   <select id= "getReservationDetail" resultMap="ReservationBean"> 
      select
         RSV_CODE,
         RSV_MEMNICKNAME,
         TO_CHAR(RSV_DATE, 'YYYY-MM-DD') AS RSVDATE,
         RSV_TIME,
         RSV_COUNT,
         RSV_HOLE,
         RSV_CADDY,
         RSV_CLOTHES,
         RSV_SHOES,
         RSV_STATUS,
         RSV_PRICE,
         pri1.PRI_OPTION AS priOption1,
         pri1.PRI_PRICE AS priPrice1,
         pri2.PRI_OPTION AS priOption2,
         pri2.PRI_PRICE AS priPrice2,
         pri3.PRI_OPTION AS priOption3,
         pri3.PRI_PRICE AS priPrice3,
         pri4.PRI_OPTION AS priOption4,
         pri4.PRI_PRICE AS priPrice4
      FROM 
         RSVDS
        JOIN
            PRICES pri1 ON RSV_HOLE = pri1.pri_code
        JOIN
            PRICES pri2 ON RSV_CADDY = pri2.pri_code
        JOIN    
            PRICES pri3 ON RSV_CLOTHES = pri3.pri_code
        JOIN    
            PRICES pri4 ON RSV_SHOES = pri4.pri_code
      WHERE 
         RSV_CODE = #{rsvCode}
   </select>
</mapper>